Para empezar voy a leer los archivos con pandas y crear df de cada uno de ellos.

In [1309]:
#Importamos pandas y numpy
import numpy as np
import pandas as pd
import pyarrow #para poder leer los archivos parquet

In [1318]:
semana0413 = pd.read_csv('Datasets/Datasets relevamiento precios/precios_semana_20200413.csv', encoding= 'utf_16_le')
semana0503 = pd.read_json('Datasets/Datasets relevamiento precios/precios_semana_20200503.json')
semana0518 = pd.read_csv('Datasets/Datasets relevamiento precios/precios_semana_20200518.txt', sep= '|')
semana0426= pd.read_excel('Datasets/Datasets relevamiento precios/precios_semanas_20200419_20200426.xlsx')
producto = pd.read_parquet('Datasets/Datasets relevamiento precios/producto.parquet')
sucursal = pd.read_csv ('Datasets/Datasets relevamiento precios/sucursal.csv')
semana0419= pd.read_excel('Datasets/Datasets relevamiento precios/precios_semanas_20200419_20200426.xlsx',
                         sheet_name= 'precios_20200419_20200419') #segunda hoja del excel

In [1320]:
#Normalizamos los nombres de las columnas
semana0413 = semana0413.rename(columns= {'sucursal_id': 'idSucursal', 'producto_id': 'idProducto'})
semana0518 = semana0518.rename(columns= {'sucursal_id': 'idSucursal', 'producto_id': 'idProducto'})
semana0503 = semana0503.rename(columns= {'sucursal_id': 'idSucursal', 'producto_id': 'idProducto'})
semana0426 = semana0426.rename(columns= {'sucursal_id': 'idSucursal', 'producto_id': 'idProducto'})
semana0419 = semana0419.rename(columns= {'sucursal_id': 'idSucursal', 'producto_id': 'idProducto'})
sucursal = sucursal.rename(columns = {'id' : 'idSucursal'})
producto = producto.rename(columns={'id' : 'idProducto','marca':'Marca','nombre':'Nombre','presentacion':'Presentacion'})

In [1322]:
#Observamos los valores diferentes de la columna categoria1
print(producto.categoria1.unique())
#Guardamos las filas que tienen valores en las categoria1, categoria2 y categoria3 por si llegan a ser necesarios
catConValor = producto[producto.categoria1.isin(['Almacén','Perfumería y Cuidado Personal', 'Alimentos Congelados'])]
#Se analiza si hay duplicados y se llega a la conclusión que nos los hay
print(producto[producto.duplicated() == True ]) 
#Borrramos las columnas ya que tienen pocos datos
producto = producto.drop(['categoria1', 'categoria2' , 'categoria3'], axis=1) 
#obtenemos los productos que no tienen marca ni descripción
productoSinNombre = catConValor[catConValor.Marca.isnull() == True] 
#obtenemos sus índices
print(productoSinNombre.index) 
# borramos las filas, ya que cualquier cosa se encuentran grabadas en catConValor
producto =producto.drop([53619, 55798])
 #se verifica que ya no hay valores faltantes
producto.info()
#convertimos las columnas en tipo string
for i in range(0,4):
    producto.iloc[:,i] = producto.iloc[:,i].astype('string')

[None 'Perfumería y Cuidado Personal' 'Almacén' 'Alimentos Congelados']
Empty DataFrame
Columns: [idProducto, Marca, Nombre, Presentacion, categoria1, categoria2, categoria3]
Index: []
Int64Index([53619, 55798], dtype='int64')
<class 'pandas.core.frame.DataFrame'>
Int64Index: 72036 entries, 0 to 72037
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   idProducto    72036 non-null  object
 1   Marca         72036 non-null  object
 2   Nombre        72036 non-null  object
 3   Presentacion  72036 non-null  object
dtypes: object(4)
memory usage: 2.7+ MB

In [1323]:
# Se comprueba que no hay duplicados en el dataframe
print(sucursal[sucursal.duplicated() == True]) 
#Se verifica que no hay valores faltantes
sucursal.info() 
#Se cambia el nombre de algunas columnas
sucursal = sucursal.rename(columns= {'comercioId': 'idComercio', 'banderaId': 'idBandera'}) 
#se crea un nuevo df a partir de sucursal
bandera = pd.concat([sucursal.idBandera, sucursal.banderaDescripcion], axis=1) 
bandera = bandera.rename(columns= {'banderaDescripcion': 'NombreBandera'})
#se crea un nuevo df a partir de sucursal
comercio = pd.concat([sucursal.idComercio, sucursal.comercioRazonSocial], axis=1)
comercio = comercio.rename(columns= {'comercioRazonSocial': 'RazonSocial'})
 #se crea un nuevo df a partir de sucursal
lugarSucursal = sucursal.drop(['idComercio', 'idBandera','banderaDescripcion', 'comercioRazonSocial'], axis = 1)
lugarSucursal = lugarSucursal.rename(columns= {'provincia': 'CodProvincia','localidad':'Localidad', 'lat': 
                                'Latitud', 'lng':'Longitud','sucursalNombre': 'SucursalNombre','sucursalTipo':'SucursalTipo' })
#Se borran las columnas que ya se encuentran en los df anteriormente hechos
sucursal = sucursal.drop(['banderaDescripcion', 'comercioRazonSocial','provincia', 'localidad', 'direccion', 'lat', 'lng', 'sucursalNombre', 'sucursalTipo'], axis =1)
#Se convierte a tipo string las columnas object
sucursal.idSucursal = sucursal.idSucursal.astype('string')
bandera.NombreBandera = bandera.NombreBandera.astype('string') 
comercio.RazonSocial = comercio.RazonSocial.astype('string')
for i in range(0,8):
    if i != 4 and i !=5:
        lugarSucursal.iloc[:,i] = lugarSucursal.iloc[:,i].astype('string')
    else:
        lugarSucursal.iloc[:,i] = lugarSucursal.iloc[:,i].astype('float')

Empty DataFrame
Columns: [idSucursal, comercioId, banderaId, banderaDescripcion, comercioRazonSocial, provincia, localidad, direccion, lat, lng, sucursalNombre, sucursalTipo]
Index: []
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2333 entries, 0 to 2332
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   idSucursal           2333 non-null   object
 1   comercioId           2333 non-null   int64
 2   banderaId            2333 non-null   int64
 3   banderaDescripcion   2333 non-null   object
 4   comercioRazonSocial  2333 non-null   object
 5   provincia            2333 non-null   object
 6   localidad            2333 non-null   object
 7   direccion            2333 non-null   object
 8   lat                  2333 non-null   float64
 9   lng                  2333 non-null   float64
 10  sucursalNombre       2333 non-null   object
 11  sucursalTipo         2333 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 218.8+ KB

In [1324]:
#se observa que hay valores faltantes
semana0413.info()
#se observa que hay filas duplicadas
semana0413.value_counts()
#se procede a eliminar los duplicados, ya que se verificó que no hay productos con un mismo id y sucursal con la misma id
semana0413.drop_duplicates(inplace= True)
#se crea un df con las filas que tienen valores faltantes
sem0413SinValor = semana0413[semana0413.idProducto.isnull() == True]
#se crea una lista con los índices
sinValor0413 = list(sem0413SinValor.index)
#Como no se pudo determinar a través del precio a que idProducto correspondía, 
#ya que al mismo lo tiene varios productos, se procedió a borrar esas filas
semana0413 = semana0413.drop(sinValor0413)
#Se convierte a tipo string las columnas object
for i in range(1,3):
    semana0413.iloc[:,i] = semana0413.iloc[:,i].astype('string')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 472166 entries, 0 to 472165
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   precio      472153 non-null  float64
 1   idProducto  472151 non-null  object
 2   idSucursal  472151 non-null  object
dtypes: float64(1), object(2)
memory usage: 10.8+ MB

In [1325]:
#Se observa que hay valores faltantes
semana0419.info()
#Se cambia de lugar la columna idProducto por idSucursal
semana0419 = semana0419[['precio', 'idProducto','idSucursal']]
#se observa que no hay filas duplicadas
semana0419.value_counts()
#Se hace una descripción rápida del df y se observan valores exhorbitantes
print(semana0419.describe())
#Haciendo un poco de investigación se llega a que los precios máximos que figuran en el df están mal introducidos.
#Uno de los errores es que la coma está mal ubicada, 
#y el otro que el número es tan grande que esta expresado en formato científico
#Esta conclusión se llega luego de analizar el precio del producto en semanas anteriores y posteriores.
print(semana0419[semana0419.precio == semana0419.precio.max()])
print(semana0419[semana0419.idProducto == '36-3-0200001000000'])
print(semana0413[semana0413.idProducto == '36-3-0200001000000'])
print(semana0503[semana0503.idProducto == '36-3-0200001000000'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458543 entries, 0 to 458542
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   precio      456736 non-null  float64
 1   idSucursal  458543 non-null  object
 2   idProducto  458543 non-null  object
dtypes: float64(1), object(2)
memory usage: 10.5+ MB
             precio
count  4.567360e+05
mean   2.364533e+12
std    2.977930e+14
min    2.200000e-01
25%    6.700000e+01
50%    1.190000e+02
75%    2.139900e+02
max    4.399890e+16
             precio          idProducto idSucursal
21654  4.399890e+16  36-3-0200001000000    36-3-25
21668  4.399890e+16  36-3-0200001900000    36-3-25
21669  4.399890e+16  36-3-0200002000000    36-3-25
21693  4.399890e+16  36-3-0200004300000    36-3-26
21921  4.399890e+16  36-4-0200013200000    36-4-51
21983  4.399890e+16  36-5-0200000900000    36-5-73
22016  4.399890e+16  36-5-0200013200000    36-5-73
             precio          idProducto idSucursal
21654  4.399890e+16  36-3-0200001000000    36-3-25
21655  4.199910e+05  36-3-0200001000000    36-3-26
        precio          idProducto idSucursal
22469  439.989  36-3-0200001000000    36-3-25
        precio          idProducto idSucursal
18623  419.991  36-3-0200001000000    36-3-26

In [1326]:
#se arregla los precios que tienen un máximo y se repite el proceso
for i in range (21663,22017):
    if semana0419.precio.iloc[i] == 4.399890e+16: 
        semana0419.precio.iloc[i]=semana0419.precio.iloc[i]/1e+14
for i in list([21663,21858,21876,21879,21987,22076]):
    semana0419.precio.iloc[i]=semana0419.precio.iloc[i]/1e+14
for i in list([22086,21988,21880]):
    semana0419.precio.iloc[i]=semana0419.precio.iloc[i]/1e+14
semana0419.precio[21670] = 429991.000/1000
#No se encuentran valores de los productos que quedan con precios máximos en las semanas anteriores y posteriores
#por lo que se decide que sin esa información, no es posible continuar con la tarea.

C:\Users\Nueva era\AppData\Local\Temp\ipykernel_17152\1938757973.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  semana0419.precio.iloc[i]=semana0419.precio.iloc[i]/1e+14
C:\Users\Nueva era\AppData\Local\Temp\ipykernel_17152\1938757973.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  semana0419.precio.iloc[i]=semana0419.precio.iloc[i]/1e+14
C:\Users\Nueva era\AppData\Local\Temp\ipykernel_17152\1938757973.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  semana0419.precio.iloc[i]=semana0419.precio.iloc[i]/1e+14
C:\Users\Nueva era\AppData\Local\Temp\ipykernel_17152\1938757973.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  semana0419.precio[21670] = 429991.000/1000

In [1327]:
#se comprueba que los datos se hayan cambiado con éxito
print(semana0419[semana0419.idProducto == '36-3-0200001900000'])
print(semana0419[semana0419.idProducto == '36-3-0200002000000'])
print(semana0419[semana0419.idProducto == '36-3-0200004300000'])
print(semana0419[semana0419.idProducto == '36-5-0200000900000'])

        precio          idProducto idSucursal
21668  439.989  36-3-0200001900000    36-3-25
        precio          idProducto idSucursal
21669  439.989  36-3-0200002000000    36-3-25
21670  429.991  36-3-0200002000000    36-3-26
        precio          idProducto idSucursal
21693  439.989  36-3-0200004300000    36-3-26
        precio          idProducto idSucursal
21983  439.989  36-5-0200000900000    36-5-73

In [1328]:

#se hace un for para cambiar el tipo de dato datetime a str en la columna idSucursal
import datetime as dt
for i in range (len(semana0419.precio)):
    if type(semana0419.idSucursal.iloc[i]) == dt.datetime:
        semana0419.idSucursal.iloc[i]= semana0419.idSucursal.loc[i].strftime('%d-%m-%Y')
#Se cambia el tipo object a string
for i in range(1,3):
    semana0419.iloc[:,i] = semana0419.iloc[:,i].astype('string')

C:\Users\Nueva era\AppData\Local\Temp\ipykernel_17152\411888335.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  semana0419.idSucursal.iloc[i]= semana0419.idSucursal.loc[i].strftime('%d-%m-%Y')

In [1329]:
#se obtiene una lista con las sucursales que estan con el id incorrecto (están en formato fecha)
listasuc = []
for i in range (len(semana0419.precio)):
    if len(semana0419.idSucursal.iloc[i]) == 10:
        listasuc.append(semana0419.idSucursal.iloc[i])
#Se crea una lista con los valores únicos de las sucursales con id incorrecto
sucMal = list(set(listasuc))
#Se crea una lista con los id de las sucursales correspondiente
sucBien=['6-1-4','16-1-2702','10-1-6','20-1-1','22-01-2017','29-1-5','3-1-62','13-1-52','23-1-6216',
'6-1-9','16-1-2802','23-1-6294','18-1-5','25-1-1','9-2-39','10-1-26','9-3-5218',
'7-1-37','10-1-53','9-3-5201','11-5-3613','12-1-40','5-1-3','11-5-3608','10-1-54',
'9-3-5251','7-1-48','14-1-9','9-3-5202','29-1-7','23-1-6239','23-1-6269','6-2-21',
'10-1-29','9-3-5225','6-1-26','11-5-3604','23-1-6213','16-2-6004','11-5-2997',
'12-1-99','13-1-62','6-2-2','9-3-5227','10-1-18','10-1-46','9-3-5277','13-1-39',
'10-1-33','7-1-35','9-3-5206','10-1-55','10-1-48','23-1-6262','9-3-5216','11-5-3603','9-2-50','10-1-44','23-1-6221']
#Se reemplazan los valores
semana0419.idSucursal = semana0419.idSucursal.replace(sucMal,sucBien)
#se llenan con 0 para el idProducto
semana0419.idProducto= semana0419.idProducto.str.zfill(13)
#Se decide llenar los precios con 0 para que la carga a la base de datos sea exitosa
semana0419.precio.fillna(0.0, inplace=True)

In [1330]:
#Se verifica si hay valores faltantes y el tipo de dato de las columnas
print(semana0426.info())
#Se cambia de lugar la columna idProducto por idSucursal
semana0426 = semana0426[['precio', 'idProducto','idSucursal']]
#Se observa que no hay duplicados
semana0426.value_counts()
#Como en el df anterior, hay valores máximos muy grandes
print(semana0426.describe())
#se busca la cantidad de valores más grandes para analizarlos en profundidad
print(semana0426[semana0426.precio > 1e+15])
#Como no se puede saber a que producto corresponde y al ser pocos los casos, 
#se procede a guardarlo en un df aparte y borrarlos del original
maximo0426 = semana0426[semana0426.precio > 1e+15]
semana0426 = semana0426.drop(semana0426[semana0426.precio > 1e+15].index)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478909 entries, 0 to 478908
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   precio      477173 non-null  float64
 1   idSucursal  478909 non-null  object
 2   idProducto  465390 non-null  float64
dtypes: float64(2), object(1)
memory usage: 11.0+ MB
None
             precio    idProducto
count  4.771730e+05  4.653900e+05
mean   1.698493e+12  7.489733e+12
std    2.505227e+14  1.345933e+12
min    6.000000e+00  2.288000e+03
25%    8.590000e+02  7.790158e+12
50%    1.730000e+03  7.791290e+12
75%    4.730000e+03  7.794001e+12
max    4.399890e+16  9.990386e+12
             precio  idProducto idSucursal
22472  2.749890e+16         NaN    36-3-26
22476  4.399890e+16         NaN    36-3-25
22484  3.949890e+16         NaN    36-3-26
22488  4.399890e+16         NaN    36-3-25
22489  4.399890e+16         NaN    36-3-25
22492  2.999890e+16         NaN    36-3-25
22507  1.199890e+16         NaN    36-3-25
22665  3.949890e+16         NaN    36-3-26
22682  3.949890e+16         NaN    36-4-51
22685  3.949890e+16         NaN    36-4-51
22686  3.849890e+16         NaN    36-4-51
22695  3.299890e+16         NaN    36-4-51
22704  3.399890e+16         NaN    36-4-51
22707  3.299890e+16         NaN    36-4-51
22783  4.399890e+16         NaN    36-5-73
22787  3.949890e+16         NaN    36-5-73
22788  3.849890e+16         NaN    36-5-73
22805  3.299890e+16         NaN    36-5-73
22879  3.299890e+16         NaN    36-6-40
22888  3.949890e+16         NaN    36-6-40
22892  3.399890e+16         NaN    36-6-40
22897  3.299890e+16         NaN    36-6-40
22904  1.799910e+16         NaN    36-6-40

In [1331]:
#se llenan los espacios porque hará más fácil la conversion del tipo de la columna
semana0426.precio.fillna(0.0, inplace=True)
semana0426.idProducto.fillna(0.0, inplace=True)
for i in range(1,3):
    semana0426.iloc[:,i] = semana0426.iloc[:,i].astype('string')
#Se saca el .0 final de la columna idProducto
semana0426.idProducto = semana0426.idProducto.str[:-2]
#se llenan con 0 hasta llegar a los 13 dígitos en la columna idProducto
semana0426.idProducto= semana0426.idProducto.str.zfill(13)

In [1332]:
#Observando la columna precio se deduce que los datos han sido cargados de forma errónea,
#si bien la fila está como float, los decimales no han sido colocados. Se hace una comparación con fechas anteriores y posteriores.
#Luego de esta observación, se encontraron patrones los cuales son:
#si precio % 10 == 0 entonces la coma debería estar corrida un lugar hacia la izquierda
#si precio > 10000 entonces la coma debería estar corrida dos lugares hacia la izquierda
#si precio <1000 entonces la coma debería estar corrida un lugar hacia a la izquierda
#para los valores entre 1000 y 10000 no se pudo llegar a una conclusión si son 2 o uno los lugares a correr,
#por lo que la mejor decisión es que correr la coma un lugar y así ajustar una cantidad considerable de precios
#y acercar aquellos que todavía están mal a su valor correcto.
for i in range (len(semana0426)):
    if semana0426.precio.iloc[i] % 10 == 0:
        semana0426.precio.iloc[i] = semana0426.precio.iloc[i]/10
    elif semana0426.precio.iloc[i] > 10000:
        semana0426.precio.iloc[i] = semana0426.precio.iloc[i]/100
    elif semana0426.precio.iloc[i] < 1000:
        semana0426.precio.iloc[i] = semana0426.precio.iloc[i]/10
    else:
        semana0426.precio.iloc[i] = semana0426.precio.iloc[i]/10

C:\Users\Nueva era\AppData\Local\Temp\ipykernel_17152\3435628933.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  semana0426.precio.iloc[i] = semana0426.precio.iloc[i]/10
C:\Users\Nueva era\AppData\Local\Temp\ipykernel_17152\3435628933.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  semana0426.precio.iloc[i] = semana0426.precio.iloc[i]/100
C:\Users\Nueva era\AppData\Local\Temp\ipykernel_17152\3435628933.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  semana0426.precio.iloc[i] = semana0426.precio.iloc[i]/10
C:\Users\Nueva era\AppData\Local\Temp\ipykernel_17152\3435628933.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  semana0426.precio.iloc[i] = semana0426.precio.iloc[i]/10

In [1333]:
#Se analiza si hay valores faltantes y el tipo de dato de cada columna
semana0503.info()
#Se reemplaza los precios que están espacios vacíos por 0 y se cambia el tipo de la columna a float 
semana0503.precio = semana0503.precio.replace('',0).astype('float')
#se cambia el formato de las dos últimas columnas
for i in range(1,3):
    semana0503.iloc[:,i] = semana0503.iloc[:,i].astype('string')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397734 entries, 0 to 397733
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   precio      397734 non-null  object
 1   idProducto  397734 non-null  object
 2   idSucursal  397734 non-null  object
dtypes: object(3)
memory usage: 9.1+ MB

In [1334]:
#Se analiza si hay valores faltantes y el tipo de dato de cada columna
semana0518.info()
#Se analiza si hay duplicados
semana0518.duplicated().value_counts()
#Se borran los duplicados
semana0518.drop_duplicates(inplace=True)
#Se analiza los casos con valores faltantes en idSucursal, y se encuentra que la única información es la de los precios,
#Por lo que se recurre a borrar eso valores ya que no son útiles
semana0518.drop(semana0518[semana0518.idSucursal.isnull() == True].index, inplace=True)
#Se decide llenar los precios con 0 para que la carga a la base de datos sea exitosa
semana0518.precio.fillna(0.0, inplace=True)
for i in range(1,3):
    semana0518.iloc[:,i] = semana0518.iloc[:,i].astype('string')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415293 entries, 0 to 415292
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   precio      413333 non-null  float64
 1   idProducto  415287 non-null  object
 2   idSucursal  415287 non-null  object
dtypes: float64(1), object(2)
memory usage: 9.5+ MB

In [1335]:
#se procede a normalizar el siguiente df ya que se usara como tabla auxiliadora
maximo0426.idProducto= maximo0426.idProducto.fillna(0).astype('int').astype('string').str.zfill(13)
maximo0426.idSucursal=maximo0426.idSucursal.astype('string')
maximo0426.idSucursal=maximo0426.idSucursal.astype('string')

In [1336]:
#se crea una solo data frame con los precios de la semana
precioSemana = pd.concat([semana0413, semana0419, semana0426, semana0503,semana0518], ignore_index=True)

In [1338]:
# se importa un modulo sqlalchemy
from sqlalchemy import create_engine

# se crea la variable engine que servirá para conectarse a MySQL
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="MYSQL2022$",
                               db="ProyectoIndividual04"))

In [1340]:
precioSemana.to_sql('PrecioSemana', con = engine, if_exists='append', index=False)
sucursal.to_sql('Sucursal', con = engine, if_exists='append', index=False)
bandera.to_sql('Bandera', con = engine, if_exists='append', index=False)
comercio.to_sql('Comercio', con = engine, if_exists='append', index=False)
lugarSucursal.to_sql('InfoSucursal', con = engine, if_exists='append', index=False)
maximo0426.to_sql('AuxPrecioSemana', con = engine, if_exists='append', index=False)
producto.to_sql('Producto', con = engine, if_exists='append', index=False)

C:\Users\Nueva era\AppData\Roaming\Python\Python310\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'Sucursal' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)
C:\Users\Nueva era\AppData\Roaming\Python\Python310\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'Bandera' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)
C:\Users\Nueva era\AppData\Roaming\Python\Python310\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'Comercio' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)
C:\Users\Nueva era\AppData\Roaming\Python\Python310\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'InfoSucursal' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)
C:\Users\Nueva era\AppData\Roaming\Python\Python310\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'AuxPrecioSemana' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)
C:\Users\Nueva era\AppData\Roaming\Python\Python310\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'Producto' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

72036

In [1341]:
engine.dispose()