Para empezar voy a leer los archivos con pandas y crear df de cada uno de ellos.

In [447]:
#Importamos pandas y numpy
import numpy as np
import pandas as pd
import pyarrow #para poder leer los archivos parquet

In [1170]:
semana0413 = pd.read_csv('Datasets/Datasets relevamiento precios/precios_semana_20200413.csv', encoding= 'utf_16_le')
semana0503 = pd.read_json('Datasets/Datasets relevamiento precios/precios_semana_20200503.json')
semana0518 = pd.read_csv('Datasets/Datasets relevamiento precios/precios_semana_20200518.txt', sep= '|')
semana0426= pd.read_excel('Datasets/Datasets relevamiento precios/precios_semanas_20200419_20200426.xlsx')
producto = pd.read_parquet('Datasets/Datasets relevamiento precios/producto.parquet')
sucursal = pd.read_csv ('Datasets/Datasets relevamiento precios/sucursal.csv')
semana0419= pd.read_excel('Datasets/Datasets relevamiento precios/precios_semanas_20200419_20200426.xlsx',
                         sheet_name= 'precios_20200419_20200419') #segunda hoja del excel

In [1171]:
#Normalizamos los nombres de las columnas
semana0413 = semana0413.rename(columns= {'sucursal_id': 'idSucursal', 'producto_id': 'idProducto'})
semana0518 = semana0518.rename(columns= {'sucursal_id': 'idSucursal', 'producto_id': 'idProducto'})
semana0503 = semana0503.rename(columns= {'sucursal_id': 'idSucursal', 'producto_id': 'idProducto'})
semana0426 = semana0426.rename(columns= {'sucursal_id': 'idSucursal', 'producto_id': 'idProducto'})
semana0419 = semana0419.rename(columns= {'sucursal_id': 'idSucursal', 'producto_id': 'idProducto'})
sucursal = sucursal.rename(columns = {'id' : 'idSucursal'})
producto = producto.rename(columns={'id' : 'idProducto','marca':'Marca','nombre':'Nombre','presentacion':'Presentacion'})

In [299]:
#Observamos los valores diferentes de la columna categoria1
print(producto.categoria1.unique())
#Guardamos las filas que tienen valores en las categoria1, categoria2 y categoria3 por si llegan a ser necesarios
catConValor = producto[producto.categoria1.isin(['Almacén','Perfumería y Cuidado Personal', 'Alimentos Congelados'])]
#Se analiza si hay duplicados y se llega a la conclusión que nos los hay
print(producto[producto.duplicated() == True ]) 
#Borrramos las columnas ya que tienen pocos datos
producto = producto.drop(['categoria1', 'categoria2' , 'categoria3'], axis=1) 
#obtenemos los productos que no tienen marca ni descripción
productoSinNombre = catConValor[catConValor.marca.isnull() == True] 
#obtenemos sus índices
print(productoSinNombre.index) 
# borramos las filas, ya que cualquier cosa se encuentran grabadas en catConValor
producto =producto.drop([53619, 55798])
 #se verifica que ya no hay valores faltantes
producto.info()
#convertimos las columnas en tipo string
for i in range(0,4):
    producto.iloc[:,i] = producto.iloc[:,i].astype('string')

[None 'Perfumería y Cuidado Personal' 'Almacén' 'Alimentos Congelados']
Empty DataFrame
Columns: [idProducto, marca, nombre, presentacion, categoria1, categoria2, categoria3]
Index: []
Int64Index([53619, 55798], dtype='int64')
<class 'pandas.core.frame.DataFrame'>
Int64Index: 72036 entries, 0 to 72037
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   idProducto    72036 non-null  object
 1   marca         72036 non-null  object
 2   nombre        72036 non-null  object
 3   presentacion  72036 non-null  object
dtypes: object(4)
memory usage: 2.7+ MB

idProducto      object
marca           object
nombre          object
presentacion    object
dtype: object

In [268]:
# Se comprueba que no hay duplicados en el dataframe
print(sucursal[sucursal.duplicated() == True]) 
#Se verifica que no hay valores faltantes
sucursal.info() 
#Se cambia el nombre de algunas columnas
sucursal = sucursal.rename(columns= {'comercioId': 'idComercio', 'banderaId': 'idBandera'}) 
#se crea un nuevo df a partir de sucursal
bandera = pd.concat([sucursal.idBandera, sucursal.banderaDescripcion], axis=1) 
bandera = bandera.rename(columns= {'banderaDescripcion': 'NombreBandera'})
#se crea un nuevo df a partir de sucursal
comercio = pd.concat([sucursal.idComercio, sucursal.comercioRazonSocial], axis=1)
comercio = comercio.rename(columns= {'comercioRazonSocial': 'RazonSocial'})
 #se crea un nuevo df a partir de sucursal
lugarSucursal = sucursal.drop(['idComercio', 'idBandera','banderaDescripcion', 'comercioRazonSocial'], axis = 1)
lugarSucursal = lugarSucursal.rename(columns= {'provincia': 'CodProvincia','localidad':'Localidad', 'lat': 
                                'Latitud', 'lng':'Longitud','sucursalNombre': 'SucursalNombre','sucursalTipo':'SucursalTipo' })
#Se borran las columnas que ya se encuentran en los df anteriormente hechos
sucursal = sucursal.drop(['banderaDescripcion', 'comercioRazonSocial','provincia', 'localidad', 'direccion', 'lat', 'lng', 'sucursalNombre', 'sucursalTipo'], axis =1)
#Se convierte a tipo string las columnas object
sucursal.idSucursal = sucursal.idSucursal.astype('string')
bandera.NombreBandera = bandera.NombreBandera.astype('string') 
comercio.RazonSocial = comercio.RazonSocial.astype('string')
for i in range(0,8):
    if i != 4 and i !=5:
        lugarSucursal.iloc[:,i] = lugarSucursal.iloc[:,i].astype('string')
    else:
        lugarSucursal.iloc[:,i] = lugarSucursal.iloc[:,i].astype('float')

Empty DataFrame
Columns: [idSucursal, idComercio, idBandera, banderaDescripcion, comercioRazonSocial, provincia, localidad, direccion, lat, lng, sucursalNombre, sucursalTipo]
Index: []
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2333 entries, 0 to 2332
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   idSucursal           2333 non-null   object
 1   idComercio           2333 non-null   int64
 2   idBandera            2333 non-null   int64
 3   banderaDescripcion   2333 non-null   object
 4   comercioRazonSocial  2333 non-null   object
 5   provincia            2333 non-null   object
 6   localidad            2333 non-null   object
 7   direccion            2333 non-null   object
 8   lat                  2333 non-null   float64
 9   lng                  2333 non-null   float64
 10  sucursalNombre       2333 non-null   object
 11  sucursalTipo         2333 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 218.8+ KB

,idSucursal,provincia,localidad,direccion,lat,lng,sucursalNombre,sucursalTipo
0,1-1-7,AR-X,SALSIPUEDES,E53 1011 None,-31.126667,-64.295250,Super Mami 4,Hipermercado
1,10-1-1,AR-B,San Isidro,Bernardo De Irigoyen 2647,-34.491345,-58.589025,San Isidro,Hipermercado
2,10-1-10,AR-B,Hurlingham,Av. Vergara 1910,-34.620610,-58.633769,Villa Tesei,Hipermercado
3,10-1-11,AR-B,Malvinas Argentinas,Av. Arturo Illia 3770,-34.528883,-58.701631,Malvinas Argentinas,Hipermercado
4,10-1-112,AR-A,Salta,20 De Febrero 37,-24.789072,-65.413699,Salta,Hipermercado

In [318]:
#se observa que hay valores faltantes
semana0413.info()
#se observa que hay filas duplicadas
semana0413.value_counts()
#se procede a eliminar los duplicados, ya que se verificó que no hay productos con un mismo id y sucursal con la misma id
semana0413.drop_duplicates(inplace= True)
#se crea un df con las filas que tienen valores faltantes
sem0413SinValor = semana0413[semana0413.idProducto.isnull() == True]
#se crea una lista con los índices
sinValor0413 = list(sem0413SinValor.index)
#Como no se pudo determinar a través del precio a que idProducto correspondía, 
#ya que al mismo lo tiene varios productos, se procedió a borrar esas filas
semana0413 = semana0413.drop(sinValor0413)
#Se convierte a tipo string las columnas object
for i in range(1,3):
    semana0413.iloc[:,i] = semana0413.iloc[:,i].astype('string')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 472131 entries, 0 to 472165
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   precio      472131 non-null  float64
 1   idProducto  472131 non-null  object
 2   idSucursal  472131 non-null  object
dtypes: float64(1), object(2)
memory usage: 14.4+ MB

        precio     idProducto idSucursal
0        29.90  0000000001663    2-1-014
1        29.90  0000000002288    2-1-032
2        39.90  0000000002288    2-1-096
3       499.99  0000000205870    9-1-686
4       519.99  0000000205870    9-2-248
...        ...            ...        ...
472161  139.99  9569753142128     25-1-1
472162   34.99  9795403001143     25-1-1
472163  312.50  9990385651922      5-1-3
472164  312.50  9990385651939      5-1-3
472165  198.90  9990385651946      5-1-3

[472131 rows x 3 columns]

In [794]:
#Se observa que hay valores faltantes
semana0419.info()
#Se cambia de lugar la columna idProducto por idSucursal
semana0419 = semana0419[['precio', 'idProducto','idSucursal']]
#se observa que no hay filas duplicadas
semana0419.value_counts()
#Se hace una descripción rápida del df y se observan valores exhorbitantes
print(semana0419.describe())
#Haciendo un poco de investigación se llega a que los precios máximos que figuran en el df están mal introducidos.
#Uno de los errores es que la coma está mal ubicada, 
#y el otro que el número es tan grande que esta expresado en formato científico
#Esta conclusión se llega luego de analizar el precio del producto en semanas anteriores y posteriores.
print(semana0419[semana0419.precio == semana0419.precio.max()])
print(semana0419[semana0419.idProducto == '36-3-0200001000000'])
print(semana0413[semana0413.idProducto == '36-3-0200001000000'])
print(semana0503[semana0503.idProducto == '36-3-0200001000000'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458543 entries, 0 to 458542
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   precio      456736 non-null  float64
 1   idSucursal  458543 non-null  object
 2   idProducto  458543 non-null  object
dtypes: float64(1), object(2)
memory usage: 10.5+ MB
             precio
count  4.567360e+05
mean   9.184404e+11
std    1.696603e+14
min    2.200000e-01
25%    6.700000e+01
50%    1.190000e+02
75%    2.139900e+02
max    3.399890e+16
             precio idSucursal          idProducto
21898  3.399890e+16    36-4-51  36-4-0200005000000
22105  3.399890e+16    36-6-40  36-6-0200005500000
           precio idSucursal          idProducto
21654     439.989    36-3-25  36-3-0200001000000
21655  419991.000    36-3-26  36-3-0200001000000
        precio          idProducto idSucursal
22469  439.989  36-3-0200001000000    36-3-25
        precio          idProducto idSucursal
18623  419.991  36-3-0200001000000    36-3-26

In [825]:
#se arregla los precios que tienen un máximo y se repite el proceso
for i in range (21663,22017):
    if semana0419.precio.iloc[i] == 4.399890e+16: 
        semana0419.precio.iloc[i]=semana0419.precio.iloc[i]/1e+14
for i in list([21663,21858,21876,21879,21987,22076]):
    semana0419.precio.iloc[i]=semana0419.precio.iloc[i]/1e+14
for i in list([22086,21988,21880]):
    semana0419.precio.iloc[i]=semana0419.precio.iloc[i]/1e+14
semana0419.precio[21670] = 429991.000/1000
#No se encuentran valores de los productos que quedan con precios máximos en las semanas anteriores y posteriores
#por lo que se decide que sin esa información, no es posible continuar con la tarea.

C:\Users\Nueva era\AppData\Local\Temp\ipykernel_17152\1875372565.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  semana0419.precio.loc[i]=semana0419.precio.loc[i]/1e+14
C:\Users\Nueva era\AppData\Local\Temp\ipykernel_17152\1875372565.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  semana0419.precio.loc[i]=semana0419.precio.loc[i]/1e+14
C:\Users\Nueva era\AppData\Local\Temp\ipykernel_17152\1875372565.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  semana0419.precio[21670] = 429991.000/1000

In [826]:
#se comprueba que los datos se hayan cambiado con éxito
print(semana0419[semana0419.idProducto == '36-3-0200001900000'])
print(semana0419[semana0419.idProducto == '36-3-0200002000000'])
print(semana0419[semana0419.idProducto == '36-3-0200004300000'])
print(semana0419[semana0419.idProducto == '36-5-0200000900000'])

        precio idSucursal          idProducto
21668  439.989    36-3-25  36-3-0200001900000
        precio idSucursal          idProducto
21669  439.989    36-3-25  36-3-0200002000000
21670  429.991    36-3-26  36-3-0200002000000
        precio idSucursal          idProducto
21693  439.989    36-3-26  36-3-0200004300000
        precio idSucursal          idProducto
21983  439.989    36-5-73  36-5-0200000900000

In [658]:

#se hace un for para cambiar el tipo de dato datetime a str en la columna idSucursal
import datetime as dt
for i in range (len(semana0419.precio)):
    if type(semana0419.idSucursal.iloc[i]) == dt.datetime:
        semana0419.idSucursal.iloc[i]= semana0419.idSucursal.loc[i].strftime('%d-%m-%Y')
#Se cambia el tipo object a string
for i in range(1,3):
    semana0419.iloc[:,i] = semana0419.iloc[:,i].astype('string')

C:\Users\Nueva era\AppData\Local\Temp\ipykernel_17152\1931935775.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  semana0419.idSucursal.loc[i]= semana0419.idSucursal.loc[i].strftime('%d-%m-%Y')

In [660]:
#se obtiene una lista con las sucursales que estan con el id incorrecto (están en formato fecha)
listasuc = []
for i in range (len(semana0419.precio)):
    if len(semana0419.idSucursal.iloc[i]) == 10:
        listasuc.append(semana0419.idSucursal.iloc[i])
#Se crea una lista con los valores únicos de las sucursales con id incorrecto
sucMal = list(set(listasuc))
#Se crea una lista con los id de las sucursales correspondiente
sucBien=['6-1-4','16-1-2702','10-1-6','20-1-1','22-01-2017','29-1-5','3-1-62','13-1-52','23-1-6216',
'6-1-9','16-1-2802','23-1-6294','18-1-5','25-1-1','9-2-39','10-1-26','9-3-5218',
'7-1-37','10-1-53','9-3-5201','11-5-3613','12-1-40','5-1-3','11-5-3608','10-1-54',
'9-3-5251','7-1-48','14-1-9','9-3-5202','29-1-7','23-1-6239','23-1-6269','6-2-21',
'10-1-29','9-3-5225','6-1-26','11-5-3604','23-1-6213','16-2-6004','11-5-2997',
'12-1-99','13-1-62','6-2-2','9-3-5227','10-1-18','10-1-46','9-3-5277','13-1-39',
'10-1-33','7-1-35','9-3-5206','10-1-55','10-1-48','23-1-6262','9-3-5216','11-5-3603','9-2-50','10-1-44','23-1-6221']
#Se reemplazan los valores
semana0419.idSucursal = semana0419.idSucursal.replace(sucMal,sucBien)
#se llenan con 0 para el idProducto
semana0419.idProducto= semana0419.idProducto.str.zfill(13)
#Se decide llenar los precios con 0 para que la carga a la base de datos sea exitosa
semana0419.precio.fillna(0.0, inplace=True)

        precio idSucursal     idProducto
0        29.90    2-1-184           2288
1        39.90    2-1-206           2288
2       499.99    9-1-430         205870
3       539.99    9-2-107         205870
4       539.99   9-3-5218         205870
...        ...        ...            ...
458538  139.99     25-1-1  9569753142128
458539   34.99     25-1-1  9795403001143
458540  312.50      5-1-3  9990385651922
458541  312.50      5-1-3  9990385651939
458542  198.90      5-1-3  9990385651946

[458543 rows x 3 columns]

In [1172]:
#Se verifica si hay valores faltantes y el tipo de dato de las columnas
print(semana0426.info())
#Se cambia de lugar la columna idProducto por idSucursal
semana0426 = semana0426[['precio', 'idProducto','idSucursal']]
#Se observa que no hay duplicados
semana0426.value_counts()
#Como en el df anterior, hay valores máximos muy grandes
print(semana0426.describe())
#se busca la cantidad de valores más grandes para analizarlos en profundidad
print(semana0426[semana0426.precio > 1e+15])
#Como no se puede saber a que producto corresponde y al ser pocos los casos, 
#se procede a guardarlo en un df aparte y borrarlos del original
maximo0426 = semana0426[semana0426.precio > 1e+15]
semana0426 = semana0426.drop(semana0426[semana0426.precio > 1e+15].index)

In [1173]:
#se llenan los espacios porque hará más fácil la conversion del tipo de la columna
semana0426.precio.fillna(0.0, inplace=True)
semana0426.idProducto.fillna(0.0, inplace=True)
for i in range(1,3):
    semana0426.iloc[:,i] = semana0426.iloc[:,i].astype('string')
#Se saca el .0 final de la columna idProducto
semana0426.idProducto = semana0426.idProducto.str[:-2]
#se llenan con 0 hasta llegar a los 13 dígitos en la columna idProducto
semana0426.idProducto= semana0426.idProducto.str.zfill(13)

In [1174]:
#Observando la columna precio se observa que los datos han sido cargados de forma errónea,
#si bien la fila está como float, los decimales no han sido colocados. Se hace una comparación con fechas anteriores y posteriores.
#Luego de esta observación, se encontraron patrones los cuales son:
#si precio % 10 == 0 entonces la coma debería estar corrida un lugar hacia la izquierda
#si precio > 10000 entonces la coma debería estar corrida dos lugares hacia la izquierda
#si precio <1000 entonces la coma debería estar corrida un lugar hacia a la izquierda
#para los valores entre 1000 y 10000 no se pudo llegar a una conclusión si son 2 o uno los lugares a correr,
#por lo que la mejor decisión es que correr la coma un lugar y así ajustar una cantidad considerable de precios
#y acercar aquellos que todavía están mal a su valor correcto.
for i in range (len(semana0426)):
    if semana0426.precio.iloc[i] % 10 == 0:
        semana0426.precio.iloc[i] = semana0426.precio.iloc[i]/10
    elif semana0426.precio.iloc[i] > 10000:
        semana0426.precio.iloc[i] = semana0426.precio.iloc[i]/100
    elif semana0426.precio.iloc[i] < 1000:
        semana0426.precio.iloc[i] = semana0426.precio.iloc[i]/10
    else:
        semana0426.precio.iloc[i] = semana0426.precio.iloc[i]/10

C:\Users\Nueva era\AppData\Local\Temp\ipykernel_17152\3435628933.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  semana0426.precio.iloc[i] = semana0426.precio.iloc[i]/10
C:\Users\Nueva era\AppData\Local\Temp\ipykernel_17152\3435628933.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  semana0426.precio.iloc[i] = semana0426.precio.iloc[i]/100
C:\Users\Nueva era\AppData\Local\Temp\ipykernel_17152\3435628933.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  semana0426.precio.iloc[i] = semana0426.precio.iloc[i]/10
C:\Users\Nueva era\AppData\Local\Temp\ipykernel_17152\3435628933.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  semana0426.precio.iloc[i] = semana0426.precio.iloc[i]/10

In [815]:
#Se analiza si hay valores faltantes y el tipo de dato de cada columna
semana0503.info()
#Se reemplaza los precios que están espacios vacíos por 0 y se cambia el tipo de la columna a float 
semana0503.precio = semana0503.precio.replace('',0).astype('float')
#se cambia el formato de las dos últimas columnas
for i in range(1,3):
    semana0503.iloc[:,i] = semana0503.iloc[:,i].astype('string')

In [1200]:
#Se analiza si hay valores faltantes y el tipo de dato de cada columna
semana0518.info()
#Se analiza si hay duplicados
semana0518.duplicated().value_counts()
#Se borran los duplicados
semana0518.drop_duplicates(inplace=True)
#Se analiza los casos con valores faltantes en idSucursal, y se encuentra que la única información es la de los precios,
#Por lo que se recurre a borrar eso valores ya que no son útiles
semana0518.drop(semana0518[semana0518.idSucursal.isnull() == True].index, inplace=True)
#Se decide llenar los precios con 0 para que la carga a la base de datos sea exitosa
semana0518.precio.fillna(0.0, inplace=True)
for i in range(1,3):
    semana0518.iloc[:,i] = semana0518.iloc[:,i].astype('string')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 415104 entries, 0 to 415292
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   precio      413147 non-null  float64
 1   idProducto  415101 non-null  object
 2   idSucursal  415101 non-null  object
dtypes: float64(1), object(2)
memory usage: 12.7+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 415104 entries, 0 to 415292
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   precio      413147 non-null  float64
 1   idProducto  415101 non-null  object
 2   idSucursal  415101 non-null  object
dtypes: float64(1), object(2)
memory usage: 12.7+ MB

In [ ]:
#se procede a normalizar el siguiente df ya que se usara como tabla auxiliadora
maximo0426.idProducto= maximo0426.idProducto.fillna(0).astype('int').astype('string').str.zfill(13)
maximo0426.idSucursal=maximo0426.idSucursal.astype('string')
maximo0426.idSucursal=maximo0426.idSucursal.astype('string')

In [1306]:
#se crea una solo data frame con los precios de la semana
precioSemana = pd.concat([semana0413, semana0419, semana0426, semana0503], ignore_index=True)

In [1304]:
# se importa un modulo sqlalchemy
from sqlalchemy import create_engine

# se crea la variable engine que servirá para conectarse a MySQL
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="MYSQL2022$",
                               db="ProyectoIndividual04"))

In [1254]:
precioSemana.to_sql('PrecioSemana', con = engine, if_exists='append', index=False)
sucursal.to_sql('Sucursal', con = engine, if_exists='append', index=False)
bandera.to_sql('Bandera', con = engine, if_exists='append', index=False)
comercio.to_sql('Comercio', con = engine, if_exists='append', index=False)
lugarSucursal.to_sql('InfoSucursal', con = engine, if_exists='append', index=False)
maximo0426.to_sql('AuxPrecioSemana', con = engine, if_exists='append', index=False)
producto.to_sql('Producto', con = engine, if_exists='append', index=False)

C:\Users\Nueva era\AppData\Roaming\Python\Python310\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'PrecioSemana' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

2222395

In [1308]:
engine.dispose()